<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body id="body__product">

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado', { nombreUsuario: locals.user.nombreUsuario }) %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    <!-- product detail -->
    <div class="products-wrapper details">
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= producto.imagen %>" alt="" class="product-detail-img">
                </article>

                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <div class="div__h2-p">
                            <h2 class="products-title_especial">
                                <%= producto.nombre %>
                            </h2>
                            <p class="product-detail-description">
                                <a class="product-detail-a" href="/product/edit/<%= producto.id %>">Editar</a>
                            </p>
                        </div>
                        <p class="product-detail-description-p">
                            <%= producto.descripcion %>
                        </p>
                        <% producto.comentarios.forEach(function(comentario) { %>
                            <article>
                                <img src="<%= comentario.imagenPerfilC %>" alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong> 
                                            <a class="product-detail-a" href="/users/profile/<%= comentario.idUsuarioC %>">
                                                <%= comentario.nombre %>
                                            </a> 
                                        </strong>
                                        <%= comentario.texto %>
                                    </p>
                                </div>
                            </article>
                        <% }) %>

                        <% if (locals.user) { %>
                            <form class="form" action="/products/saveComment" method="post">
                                <input type="hidden" name="productId" value="<%= producto.id %>">
                                <input class="form-input" type="text" name="texto" value="<%= locals.oldData && locals.oldData.texto ? oldData.texto : null %>" placeholder="Agregar comentario">
                                <% if (locals.errors && errors.texto) { %>
                                    <div class="error-msg"><%= errors.texto.msg %></div>
                                <% } %>
                                <label class="form-label" for="comentario"></label>
                                <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                            </form>
                        <% } else { %>
                            <form class="form" action="/login" method="GET">
                                <input class="form-input" type="text" name="texto" value="" placeholder="Agregar comentario">
                                <label class="form-label" for="comentario"></label>
                                <button type="submit" class="buy-now-button">DEBES LOGUEARTE PARA COMENTAR</button>
                            </form>
                        <% } %>
                        <hr>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- /product detail -->
    <%- include('./partials/footer') %>
</body>
<script src="/js/uikit.min.js"></script>
<script src="/js/header-scroll.js"></script>

</html>
