<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

	<body>
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado', { nombreUsuario: locals.user.nombreUsuario }) %>
		<% } else { %>
			<%- include('./partials/header') %>
		<% } %>
			<!-- Novedades -->
			<div class="products-wrapper details__search">
				<div class="col-12">
					<h2 class="products-title">
						<%= mensaje %>
					</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<% for( let i=0; i < productos.length; i++ ) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/<%= productos[i].id %>">
								<figure class="product-box_image">
									<img src="<%= productos[i].imagen %>" alt="">
								</figure>
								<article class="product-box_data">
									<h2>
										<%= productos[i].nombreProducto %>
									</h2>
									<p>
										<%= productos[i].descripcion %>
									</p>
									<p>Comentarios: 3</p>
								</article>
							</a>
						</section>
						
					</div><% } %>
			</div>
		</main>	
	<%- include('./partials/footer') %>
	<script src="/js/uikit.min.js"></script>
	<script src="/js/header-scroll.js"></script>	

	</body>
	

</html>